<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Admin Homepage</title>
</head>

<body>
    <Fieldset>
        <legend>Homepage</legend>
    <header>
        <h1>Hotel Admin Homepage</h1>
    </header>

    <a href="HotelListing.html"><input type="button" value="[+] List Your Hotel"></a>
    
    <footer>
        <p>&copy; 2023 StayDriveGo.com. All rights reserved.</p>
    </footer>
    </Fieldset>
</body>

</html>
