<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Listing</title>
</head>
<body>
    <fieldset>
        <legend>Listing</legend>
        <form action="" method="" enctype="">
            <h4>What's the name of your hotel?</h4><br>
            <h5>Hotel Name </h5><br>
            <input type="text" name="HotelName" id=""><br>
            <h5>Street name and house number</h5><br>
            <input type="text" name="Address" id=""><br>
            <h5>City</h5><br>
            <select name="City" id="">
                <option value="Dhaka">Dhaka</option>
                <option value="Barisal">Barisal</option>
                <option value="Khulna">Khulna</option>
                <option value="Chittagong">Chittagong</option>
                <option value="Rajshahi">Rajshahi</option>
                <option value="Sylhet">Sylhet</option>
                <option value="Mymensingh">Mymensingh</option>
                <option value="Rangpur">Rangpur</option>
            </select><br>
            <h4>What is the star rating of your hotel?</h4><br>
            <input type="radio" name="Rating" id="">N/A<br>
            <input type="radio" name="Rating" id="">1 star<br>
            <input type="radio" name="Rating" id="">2 star<br>
            <input type="radio" name="Rating" id="">3 star<br>
            <input type="radio" name="Rating" id="">4 star<br>
            <input type="radio" name="Rating" id="">5 star<br>
            <h4>What are your check-in and check-out times?</h4>
            <h5>Check-in</h5>
            <select name="check-in" id="">
                <option value="00:00">00:00</option>
                <option value="01:00">01:00</option>
                <option value="02:00">02:00</option>
                <option value="03:00">03:00</option>
                <option value="04:00">04:00</option>
                <option value="05:00">05:00</option>
                <option value="06:00">06:00</option>
                <option value="07:00">07:00</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00" selected>12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
                <option value="21:00">21:00</option>
                <option value="22:00">22:00</option>
                <option value="23:00">23:00</option>
            </select>
            <h5>Check-out</h5>
            <select name="check-out" id="">
                <option value="00:00">00:00</option>
                <option value="01:00">01:00</option>
                <option value="02:00">02:00</option>
                <option value="03:00">03:00</option>
                <option value="04:00">04:00</option>
                <option value="05:00">05:00</option>
                <option value="06:00">06:00</option>
                <option value="07:00">07:00</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00" selected>11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
                <option value="21:00">21:00</option>
                <option value="22:00">22:00</option>
                <option value="23:00">23:00</option>
            </select>
        </form>
    </fieldset>
</body>
</html>