<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <header >
        <section style="display: flex;">
            <div style="width: 40%;">
                <h3 style="font-family: fantasy;">StayDriveGo.com</h3>
            </div>
            <div style="width: 60%; text-align: right;">
                <a href="PublicHome.html">Home</a>|
                <a href="SignUp.html">Sign up</a>|
                <a href="SignUpAsPartner.html">Sign up as Partner</a>
            </div>
            </section>
    </header>

    <section style="display: flex; width: auto;">
        <div style="height: auto;width: 50%; margin-left: 25%;">

            <form method="" action="" enctype="">
       
                <Table>
                    <tr>
                        <th colspan="2"><h2>Sign in</h2><br></th>
                    </tr>
                    <tr>
                        <td>
                            Email:
                        </td>
                        <td>
                            <input type="email" name="Email" value=""><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password:
                        </td>
                        <td>
                            <input type="password" name="Password" value=""><br>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td >
                            <input type="checkbox" name="ShowPassword" value="">Show Password<br>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td >
                            <input type="submit" value="Sign in">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td >
                            <a href="SignUp.html"><input type="button" value="Sign up"></a>
                        </td>
                    </tr>
                </Table>
            </form>
        </div>
        
    </section>
    
    <footer >
        <h6>StayDriveGo</h6>
    </footer>
</body>
</html>