<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    
    <fieldset >
        <legend>Terms&Conditions</legend>
                <h3>Terms and Conditions for Hotel and Car Booking System</h3>
                    <h4>1. Acceptance of Terms:</h4>
                    <p>By accessing and using this website, you agree to be bound by the terms and conditions set forth below. If you do not agree with these terms, please refrain from using our website.</p>
                    <h4>2. Registration:</h4>
                    <p>Users may need to register and create an account to access certain features. It is the user's responsibility to keep their password confidential. Any actions done from a user's account will be attributed to that user.</p>
                    <h4>3. Use of Service:</h4>
                    <p>This website provides an online platform for users to book hotels and rent cars. All bookings are subject to availability.</p>
                    <h4>4. Payment:</h4> 
                    <p>All services must be paid for in full at the time of booking. We accept various methods of payment as indicated on our website.</p>               
                    <h4>5. Cancellations:</h4>
                    <p>Cancellation policies may vary depending on the hotel or car rental service provider. It is the user's responsibility to review and understand the cancellation policy associated with their booking.</p>
     </fieldset>
</body>
</html>